[submodule "extern/stuff"]
	path = extern/stuff
	url = git@github.com:QwistyS/stuff.git
[submodule "extern/Unity"]
	path = extern/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
